<div id="choicesans-wrapper">
	<div class="header">
		<div class="header-title cursor-default">
			jawaban pilihan ganda
			<a target="_self" href="{{downloadLink()}}" class="cursor-pointer"><i class="fa fa-cloud-download" aria-hidden="true"></i><md-tooltip md-autohide="true">download data</md-tooltip></a>
			<i class="fa fa-calendar cursor-pointer" aria-hidden="true" open-dropdown="showCalendar"><md-tooltip md-autohide="true">{{ showCalendar ? 'Tutup' : 'Buka' }} filter tanggal</md-tooltip></i>
			<div class="date-filter" ng-show="showCalendar">
				<md-datepicker ng-model="startDate" md-max-date="endDate" md-placeholder="Tanggal awal" md-hide-icons="calendar" ng-change="dateChange()" md-open-on-focus></md-datepicker>
				<span class="date-between">s.d.</span>
				<md-datepicker ng-model="endDate" md-min-date="startDate" md-placeholder="Tanggal akhir" md-hide-icons="calendar" ng-change="dateChange()" md-open-on-focus></md-datepicker>
			</div>
			<i class="fa fa-question-circle-o cursor-pointer" aria-hidden="true" ng-click="openHint()"><md-tooltip md-autohide="true">petunjuk penggunaan halaman</md-tooltip></i>
		</div>
		<div class="header-divider"></div>
		<div class="header-input-container">
			<div class="search-sign"><i class="fa fa-search" aria-hidden="true"></i></div>
			<input type="text" placeholder="type to search multiple choice answer by user (min. 3 characters)" ng-model="search" type-everywhere>
		</div>
		<div class="header-divider"></div>
		<div class="header-another">
			<div class="header-sort">
				<div class="header-sort-container cursor-pointer" open-dropdown="showDropdown">
					<div class="header-sort-title"><span>kategori</span> :</div>
					<div class="header-sort-value"><span>{{ category.name }}</span> <i class="fa fa-caret-down" aria-hidden="true"></i></div>
				</div>
				<ul class="header-sort-dropdown" ng-show="showDropdown">
					<li ng-repeat="opt in ::categories" ng-click="selectCate(opt)" class="cursor-pointer">{{ opt.name }}</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="choicesans-content" class="dash-content">
		<div id="choicesans-content-wrapper" masonry preserve-order infinite-scroll='loadMoar()' infinite-scroll-disabled='pauseAjx || doneAjx' infinite-scroll-distance='1' infinite-scroll-container="'#choicesans-content'">
			<div class="choicesans-card cursor-default masonry-brick" ng-repeat="o in data track by $index" ng-class="{ 'wrong-answer': !o.status_answer }">
				<div class="choicesans-question-container">
					<div class="dash-label">pertanyaan</div>
					<div class="dash-value choicesans-question">{{ o.question_text || '-' }}</div>
				</div>
				<div class="choicesans-divider"></div>
				<div class="choicesans-answer-container">
					<div class="dash-label">jawaban dari <strong>{{ o.usr_display_name }}</strong></div>
				</div>
				<div class="choicesans-divider"></div>
				<div class="choicesans-timestamp">
					Dijawab pada: <span>{{ toDate(o.answered_date) }}</span>
				</div>
				<i ng-if="$parent.role" class="fa fa-times cursor-pointer" ng-click="delete(o.ID, o.usr_display_name, $event)"><md-tooltip md-autohide="true">delete this answer</md-tooltip></i>
			</div>
		</div>
		<div class="dash-load-more" class="cursor-default" ng-show="pauseAjx">{{ loading }}</div>
		<div class="dash-no-data" class="cursor-default" ng-show="nodata">{{ nodata }}</div>
	</div>
</div>
