<div id="admin-wrapper">
	<div class="header">
		<div class="header-title cursor-default">
			daftar administrator
			<i class="fa fa-question-circle-o cursor-pointer" aria-hidden="true" ng-click="openHint()"><md-tooltip md-autohide="true">petunjuk penggunaan halaman</md-tooltip></i>
		</div>
		<div class="header-divider"></div>
		<div class="header-input-container">
			<div class="search-sign"><i class="fa fa-search" aria-hidden="true"></i></div>
			<input type="text" placeholder="type to search admin by name (min. 3 characters)" ng-model="search" type-everywhere>
		</div>
		<div class="header-divider"></div>
		<div class="header-another">
			<div class="header-button">
				<div class="button-like cursor-pointer" ng-click="newAdmin()"><i class="fa fa-plus" aria-hidden="true"></i> Admin Baru</div>
			</div>
		</div>
	</div>
	<div id="admin-content" class="dash-content">
		<div id="admin-content-wrapper" masonry preserve-order infinite-scroll='loadMoar()' infinite-scroll-disabled='pauseAjx || doneAjx' infinite-scroll-distance='1' infinite-scroll-container="'#admin-content'">
			<div class="admin-card cursor-pointer masonry-brick" ng-repeat="o in data track by $index" ng-click="editAdmin(o)">
				<div class="admin-ceil ellipsis">{{ o.name }}</div>
				<div class="admin-floor ellipsis">{{ o.username }} / {{ o.email }}</div>
				<i class="fa fa-times" ng-click="delete(o.id, o.name, $event)"><md-tooltip md-autohide="true">hapus akun {{ o.name }}</md-tooltip></i>
			</div>
		</div>
		<div class="dash-load-more" class="cursor-default" ng-show="pauseAjx">{{ loading }}</div>
		<div class="dash-no-data" class="cursor-default" ng-show="nodata">{{ nodata }}</div>
	</div>
</div>
