<div id="user-wrapper">
	<div class="header">
		<div class="header-title cursor-default">
			daftar pemain
			<i class="fa fa-question-circle-o cursor-pointer" aria-hidden="true" ng-click="openHint()"><md-tooltip md-autohide="true">petunjuk penggunaan halaman</md-tooltip></i>
		</div>
		<div class="header-divider"></div>
		<div class="header-input-container">
			<div class="search-sign"><i class="fa fa-search" aria-hidden="true"></i></div>
			<input type="text" placeholder="type to search user by name (min. 3 characters)" ng-model="search" type-everywhere>
		</div>
		<div class="header-divider"></div>
		<div class="header-another">
			<div class="header-sort">
				<div class="header-sort-container cursor-pointer" open-dropdown="showDropdown">
					<div class="header-sort-title"><span>urutan</span> :</div>
					<div class="header-sort-value"><span>{{ orderby.title }}</span> <i class="fa fa-caret-{{ orderby.order == 'ASC' ? 'up' : 'down' }}" aria-hidden="true"></i></div>
				</div>
				<ul class="header-sort-dropdown" ng-show="showDropdown">
					<li ng-repeat="opt in ::orderOptions" ng-click="selectSort(opt)" class="cursor-pointer">{{ opt.title }}</li>
				</ul>
			</div>
			<div class="header-button">
				<div class="button-like cursor-pointer" ng-click="newUser()"><i class="fa fa-plus" aria-hidden="true"></i> Pemain Baru</div>
			</div>
		</div>
	</div>
	<div id="user-content" class="dash-content">
		<div id="user-content-wrapper" masonry preserve-order infinite-scroll='loadMoar()' infinite-scroll-disabled='pauseAjx || doneAjx' infinite-scroll-distance='1' infinite-scroll-container="'#user-content'">
			<div class="user-card cursor-pointer masonry-brick" ng-repeat="o in data track by $index" ng-click="editUser(o.ID)">
				<div class="user-gender" ng-class="{ male: o.usr_gender == 'm', female: o.usr_gender == 'f' }"></div>
				<div class="user-name">
					<div class="dash-label">nama</div>
					<div class="dash-value ellipsis">{{ o.usr_display_name }}</div>
				</div>
				<div class="user-email">
					<div class="dash-label">email</div>
					<div class="dash-value ellipsis">{{ o.usr_email }}</div>
				</div>
				<div class="user-designation">
					<div class="dash-label">jabatan</div>
					<div class="dash-value ellipsis">{{ o.usr_designation || '-' }}</div>
				</div>
				<div class="user-institution">
					<div class="dash-label">lembaga</div>
					<div class="dash-value ellipsis">{{ o.name_institution || '-' }}</div>
				</div>
				<div class="user-village capitalize">
					<div class="dash-label">desa</div>
					<div class="dash-value ellipsis">{{ o.name_desa || '-' }}</div>
				</div>
				<div class="user-age">
					<div class="dash-label">umur</div>
					<div class="dash-value ellipsis">{{ o.usr_years || '-' }} tahun</div>
				</div>
				<div class="user-score">
					<div class="dash-label">skor</div>
					<div class="dash-value ellipsis">{{ o.usr_score }} points</div>
				</div>
				<div class="user-contribution">
					<div class="dash-label">kontribusi</div>
					<div class="dash-value ellipsis">{{ o.usr_contribution }} kali</div>
				</div>
				<div class="user-actions">
					<div class="dash-value">
						<i class="cursor-pointer fa fa-envelope-open" aria-hidden="true" ng-click="emailTo(o.ID, o.usr_display_name, $event)"><md-tooltip md-autohide="true">kirim reset password email kepada {{ o.usr_email }}</md-tooltip></i>
						<i class="cursor-pointer fa fa-times" aria-hidden="true" ng-click="delete(o.ID, o.usr_display_name, $event)"><md-tooltip md-autohide="true">hapus {{ o.usr_display_name }} akun</md-tooltip></i>
					</div>
				</div>
			</div>
		</div>
		<div class="dash-load-more" class="cursor-default" ng-show="pauseAjx">{{ loading }}</div>
		<div class="dash-no-data" class="cursor-default" ng-show="nodata">{{ nodata }}</div>
	</div>
</div>
