<form id="adminmodal-wrapper" ng-submit="closeThisDialog(data)">
	<div id="adminmodal-header" class="modal-header cursor-default">
		{{ data.ID ? 'ubah' : 'buat' }} administrator
	</div>
	<div id="adminmodal-content">
		<div ng-repeat="o in inputs track by $index" id="admininput-{{ o.model }}">
			<md-input-container ng-if="o.tag == 'input'">
				<label>{{ o.label }}</label>
				<input type="{{o.type}}" ng-model="data[o.model]" ng-required="(o.required && !(o.type == 'password' && data.id))" ng-disabled="o.type == 'password' && data.id" autofocus="{{ $first }}"/>
			</md-input-container>

			<md-input-container ng-if="o.tag == 'radio'" class="md-input-has-value">
				<label translate>{{ o.label }}</label>
				<md-radio-group ng-model="data[o.model]" ng-init=" data[o.model] = (data[o.model]) ? data[o.model] : o.value[0].value ">
					<md-radio-button ng-repeat="val in ::o.value" ng-value="val.value" aria-label="{{ val.label }}">{{ val.label }}</md-radio-button>
				</md-radio-group>
			</md-input-container>
		</div>
	</div>
	<div id="adminmodal-buttons">
		<button type="submit" id="confirm-button" class="cursor-pointer"><i class="fa fa-check" aria-hidden="true"></i> {{ data.id ? 'ubah' : 'buat' }} administrator</button>
		<button type="button" id="cancel-button" class="cursor-pointer" ng-click="closeThisDialog()"><i class="fa fa-times" aria-hidden="true"></i> batal</button>
	</div>
</form>
