<form id="categorymodal-wrapper" ng-submit="closeThisDialog(data)">
	<div id="categorymodal-header" class="modal-header cursor-default">
		{{ data.ID_category ? 'ubah' : 'buat' }} kategori
	</div>
	<div id="categorymodal-content">
		<div ng-repeat="o in ::inputs track by $index" id="categoryinput-{{ o.model }}">
			<md-input-container ng-if="o.tag == 'textarea'">
				<label>{{ o.label }}</label>
				<textarea ng-model="data[o.model]" ng-required="o.required" rows="4" max-rows="4" autofocus="{{ $first }}"/>
			</md-input-container>

			<md-input-container ng-if="o.tag == 'input'">
				<label>{{ o.label }}</label>
				<input type="{{o.type}}" ng-model="data[o.model]" ng-required="o.required" autofocus="{{ $first }}"/>
			</md-input-container>

			<md-checkbox ng-if="o.tag == 'checkbox'" ng-model="data[o.model]" aria-label="{{ o.label }}">
            	{{ o.label }}
          	</md-checkbox>
		</div>
	</div>
	<div id="categorymodal-buttons">
		<button type="submit" id="confirm-button" class="cursor-pointer"><i class="fa fa-check" aria-hidden="true"></i> {{ data.ID_category ? 'ubah' : 'buat' }} kategori</button>
		<button type="button" id="cancel-button" class="cursor-pointer" ng-click="closeThisDialog()"><i class="fa fa-times" aria-hidden="true"></i> batal</button>
	</div>
</form>
