<form id="locationmodal-wrapper" ng-submit="closeThisDialog(data)">
	<div id="locationmodal-header" class="modal-header cursor-default">
		{{ ngDialogData.content.isNew ? 'buat' : 'ubah' }} {{ ngDialogData.content.state }}
	</div>
	<div id="locationmodal-content">
		<div ng-repeat="o in ::inputs track by $index" id="locationinput-{{ o.model }}">
			<md-input-container ng-if="o.tag == 'input'">
				<label>{{ o.label }}</label>
				<input type="text" ng-model="data[o.model]" ng-disabled="o.label == 'id' && !ngDialogData.content.isNew" ng-required="o.required" autofocus="{{ $first }}"/>
			</md-input-container>
		</div>
	</div>
	<div id="locationmodal-buttons">
		<button type="submit" id="confirm-button" class="cursor-pointer"><i class="fa fa-check" aria-hidden="true"></i> {{ ngDialogData.content.isNew ? 'buat' : 'ubah' }} {{ ngDialogData.content.state }}</button>
		<button type="button" id="cancel-button" class="cursor-pointer" ng-click="closeThisDialog()"><i class="fa fa-times" aria-hidden="true"></i> batal</button>
	</div>
</form>
