<form id="lonemodal-wrapper" ng-submit="closeThisDialog(data)">
	<div id="lonemodal-header" class="modal-header cursor-default">
		{{ data.id ? 'edit' : 'new' }} {{ ngDialogData.content.state }}
	</div>
	<div id="lonemodal-content">
		<div ng-repeat="o in ::inputs track by $index" id="loneinput-{{ o.model }}">
			<md-input-container ng-if="o.tag == 'input'">
				<label>{{ o.label }}</label>
				<input type="{{o.type}}" ng-model="data[o.model]" ng-required="o.required" autofocus="{{ $first }}"/>
			</md-input-container>
		</div>
	</div>
	<div id="lonemodal-buttons">
		<button type="submit" id="confirm-button" class="cursor-pointer"><i class="fa fa-check" aria-hidden="true"></i> {{ data.id ? 'edit' : 'add' }} {{ ngDialogData.content.state }}</button>
		<button type="button" id="cancel-button" class="cursor-pointer" ng-click="closeThisDialog()"><i class="fa fa-times" aria-hidden="true"></i> cancel</button>
	</div>
</form>
