$card-width	: calc((100% / 3) - 52px);
$wrong-back	: #BB342F;
$wrong-clr	: #F7F0F5;
$wrong-lbl	: #C5CBD3;

#choicesans-wrapper {
	width: 100%; height: 100%;
	#choicesans-content {
		#choicesans-content-wrapper {
			width: 100%;
			.choicesans-card {
				width: $card-width; padding: 15px; margin: 10px; display: inline-block; position: relative; @include cardDefault();
				.dash-label { margin-bottom: 5px; }
				.choicesans-divider { width: 100%; border-bottom: 1px solid #ddd; margin: 10px 0px; }
				.choicesans-question-container {
					width: 100%;
					.choicesans-question { font-size: 15px; @include defJustify(); }
				}
				.choicesans-answer-container {
					width: 100%; @include clearfix();
					.choicesans-answer { font-size: 15px; @include defJustify(); }
				}
				.choicesans-timestamp {
					width: 100%; color: $label-clr;
					& > span { font-weight: bolder; }
				}

				.fa-times { color: firebrick; position: absolute; top: 5px; right: 5px; font-size: 20px; }
				&.wrong-answer {
					background-color: $wrong-back; color: $wrong-clr;
					.dash-label, .choicesans-timestamp { color: $wrong-lbl; }
					.fa-times { color: $wrong-clr; }
				}
			}
		}
	}
}
