$card-width	: 375px;

#choices-wrapper {
	width: 100%; height: 100%;
	#choices-content {
		#choices-content-wrapper {
			width: 100%;
			.choices-card {
				width: $card-width; padding: 15px; margin: 15px; display: inline-block; position: relative; @include cardDefault();
				.dash-label { margin-bottom: 5px; }
				.choices-divider { width: 100%; border-bottom: 1px solid #ddd; margin: 10px 0px; }
				.choices-question-container {
					width: 98%; padding: 0px 1%;
					.choices-question { font-size: 15px; @include defJustify(); }
				}
				.choices-answer-container {
					width: 100%; @include clearfix();
					.choices-anwer-row {
						width: 100%; @include clearfix();
						&:first-child { margin-bottom: 15px; }
						.choices-answer-wrapper {
							width: 48%; padding: 0px 1%; float: left;
							.choices-answer { font-size: 15px; @include defJustify(); }
						}
					}
				}
				.choices-category {
					width: 98%; padding: 0px 1%; color: $label-clr;
					& > span { font-weight: bolder; }
				}
				.fa-times { color: firebrick; position: absolute; top: 5px; right: 5px; font-size: 20px; }
				.fa-circle, .fa-dot-circle-o { position: absolute; right: 24px; font-size: 16px; }
				.fa-circle { color: cornsilk; top: 6px; }
				.fa-dot-circle-o { color: slategray; top: 7px; }

				&.noenabled {
					background: $noenabled-back; color: $noenabled-clr;
					.dash-label { color: $noenabled-lbl; }
					.choices-category { color: $noenabled-lbl; }
				}
			}
		}
	}
}
