$def-font-stack	: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
$signika		: "Signika", sans-serif;
$signika-neg	: "Signika Negative", sans-serif;

$username-font	: $signika-neg;
$menutitle-font	: $signika;
$title-font		: $signika;

$background-clr	: #fafafa;
$loadingcolor	: #79afb1;

$sidebar-width	: 70px;
$sidebar-clr	: #21252d;
$sidebar-clr2	: #2b303b;
$sidebar-shadow	: rgba(48,48,48,0.2);

$menu-size		: 45px;
$menu-inflated	: 270px;
$menu-clr		: #788195;
// $menu-act-clr	: #10cfbd;
$menu-act-clr	: #79afb1;
$menu-hvr-clr	: #272b35;
$icon-margin	: 14px;

$header-heigth	: 70px;
$header-clr		: #fff;
$search-clr		: #626262;

$addbutton-clr	: #79afb1;

$def-padding	: 25px;

$male-color		: #41658A;
$female-color	: #b24f9c;
$label-clr		: #626262;

$modal-clr		: #f0f0f0;

//#FC7E01;
$float-clr		: #79afb1;
$radio-clr		: #79afb1;

$colors			: #1F76C6 #93032E #FFE824 #84894A #034C3C #493B2A #18A999;
@each $color in $colors {
	$i: index($colors, $color);
	.color-#{$i} { color: $color; }
}

$width-treshold	: 800px;

@each $color in $colors {
	$i: index($colors, $color);
	.back-#{$i} { background-color: $color; }
}

$i: 12;
@while $i > 0 {
  .col-#{$i} {
	  @media only screen and (min-width: $width-treshold)  { width: calc((#{$i} * 100% / 12))!important; position: relative; float: left; }
  }
  $i: $i - 1;
}
