$def-font-stack	: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
$signika		: "Signika", sans-serif;
$signika-neg	: "Signika Negative", sans-serif;

$username-font	: $signika-neg;
$menutitle-font	: $signika;
$title-font		: $signika;

$background-clr	: #fafafa;
$loadingcolor	: #FC7E01;

$sidebar-width	: 70px;
$sidebar-clr	: #21252d;
$sidebar-clr2	: #2b303b;
$sidebar-shadow	: rgba(48,48,48,0.2);

$menu-size		: 50px;
$menu-inflated	: 240px;
$menu-clr		: #788195;
// $menu-act-clr	: #10cfbd;
$menu-act-clr	: #FC7E01;
$menu-hvr-clr	: #272b35;
$icon-margin	: 17px;

$header-heigth	: 70px;
$header-clr		: #fff;
$search-clr		: #626262;

$addbutton-clr	: #FC7E01;

$def-padding	: 25px;

$male-color		: #41658A;
$female-color	: #b24f9c;
$label-clr		: #626262;

$modal-clr		: #f0f0f0;

$float-clr		: #FC7E01;
$radio-clr		: #FC7E01;

$noenabled-back	: #FC7E01;
$noenabled-clr	: #FBF5F4;
$noenabled-lbl	: #FFE824;

$colors			: #1F76C6 #93032E #C69F89 #84894A #034C3C #493B2A #18A999;
@each $color in $colors {
	$i: index($colors, $color);
	.color-#{$i} { color: $color; }
}
