@import "statics";
@import "mixins";
@import "global";

@import "auth/auth";
@import "dashboard/dashboard";
@import "dialogs/dialogs";

a { cursor: pointer; text-decoration: none; color: black; }
ul { list-style-type: none; margin: 0px; padding: 0px; }
img { max-width: 100%; height: auto; }
textarea { resize: none; }
input { -webkit-appearance: none; -moz-appearance: none; box-shadow: none; outline: none; }
input[type=number] { -moz-appearance:textfield; }
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
*:focus, select { outline: none!important; }
.row { width: 100%; @include clearfix(); }
.bold { font-weight: 700 !important; }
.full-height { height: 100%; }
.uppercase { text-transform: uppercase !important; }
.capitalize { text-transform: capitalize!important; }
.nopadding { padding: 0 !important; margin: 0 !important; }
.float-left { float: left!important; }
.float-right { float: right!important; }
.align-left { text-align: left!important; }
.align-right { text-align: right!important; }
.force-middle { margin: auto!important; float: none!important; display: block!important; }
.half-width { width: 50%; }
.ellipsis { @include ellipsis(); }
.cursor-default { cursor: default; @include noselect(); }
.cursor-pointer { cursor: pointer; @include noselect(); }
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hidden { display: none!important; }
.push-back { visibility: hidden; }
html, body, body > div#root {
	width: 100%; height: 100%; margin: 0px; padding: 0px; overflow: hidden; font-family: $def-font-stack; font-size: 14px;
	-webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; letter-spacing: -0.5px;
}
#loading-bar-container {
	width: 100%; position: fixed;
	#loading-bar .bar { position: relative; height: 4px; background-color: $loadingcolor; }
	#loading-bar-spinner {
		position: relative;
		.spinner-icon { border-top-color: $loadingcolor; border-left-color: $loadingcolor; position: absolute; right: 15px; }
	}
}
