@import "category";
@import "location";
@import "misc";
@import "statistic";
@import "user";
@import "choices/answer";
@import "choices/question";
@import "essay/answer";
@import "essay/question";

#dashboard-wrapper {
	width: 100%; height: 100%; display: inline-block; float: left; @include clearfix();
	#dashboard-sidebar {
		width: $sidebar-width; height: 100%; background: $sidebar-clr; @include box-shadow(4px 0px $sidebar-shadow); display: inline-block;
		#sidebar-logo, #sidebar-user { width: calc(#{$sidebar-width} - 15px); height: calc(#{$sidebar-width} - 15px); padding: 7.5px; position: relative; }
		#sidebar-menu {
			width: 100%; height: calc(100% - (#{$sidebar-width} * 2)); background: $sidebar-clr2;
			#sidebar-menu-wrapper {
				width: 100%; padding: 15px 0px; color: $menu-clr; @include clearfix();
				.sidebar-menu-container {
					width: 100%; padding: 5px 0px; font-family: $menutitle-font;
					.sidebar-menu-content {
						width: $menu-size; height: $menu-size; margin: auto; background: $sidebar-clr; line-height: $menu-size; border-radius: 5px; z-index: 82;
						& > i { font-size: 17px; margin-left: $icon-margin; }
						& > span { display: none; }

						&.active { color: white; background: $menu-act-clr!important; }
					}

					&:hover {
						width: $menu-inflated;
						.sidebar-menu-content {
							width: calc(#{$menu-inflated} - (#{$sidebar-width} - #{$menu-size})); color: white; @include box-shadow(5px 5px $sidebar-shadow); background-color: $menu-hvr-clr;
							& > i { margin-right: 15px; margin-left: calc(#{$icon-margin} + 10px); }
							& > span { display: inline-block; }
						}
					}
				}
			}
		}
		#sidebar-user {
			#user-photo { display: inline-block; width: 80%; height: 80%; margin: 10%; border-radius: 50%; background-repeat: no-repeat; background-position: center center; background-size: cover; }
			#dropdown-menu {
				width: 140px; height: calc(90% - 10px); position: absolute; top: 5%; left: calc(#{$sidebar-width} + 5px); background: $sidebar-clr2; border-radius: 5px; padding: 5px; color: white;
				&::after, &::before { @include box-sizing(border-box); }
				&::after { position: absolute; left: -4px; top: 47%; display: inline-block; border-top: 4px solid transparent; border-right: 4px solid $sidebar-clr2; border-bottom: 4px solid transparent; content: ''; }
				&::before { position: absolute; left: -5px; top: 47%; display: inline-block; border-top: 5px solid transparent; border-right: 5px solid #ccc; border-bottom: 5px solid transparent; border-right-color: rgba(0,0,0,0.2); content: ''; }
				#dropdown-username { text-align: center; text-transform: uppercase; font-family: $username-font; }
				ul {
					margin-top: 5px; font-family: $menutitle-font;
					li { padding: 5px 7.5px; &:hover { background: rgba(white, 0.1); } }
				}
			}
		}
	}
	#dashboard-content {
		width: calc(100% - #{$sidebar-width}); height: calc(100%); display: inline-block; float: right; background: $background-clr;
	}
}
