$wrap-padding	: 20px;
$stats-padding	: 5px;
$fa-opacity		: 0.35;

$overview-back	: #13293D;

$tscore-back	: #3A606E;
$tcont-back		: #4F6D7A;
$tvill-back		: #607B7D;
$nmprov-back	: #717C89;

$desig-back		: #fff;
$educ-back		: #fff;
$inst-back		: #fff;

$age-back		: #fff;
$hardq-back		: #928779;
$easyq-back		: #9DB5B2;
$hardcat-back	: #928779;
$easycat-back	: #9DB5B2;
$average-back	: #A2C5AC;

#statistic-wrapper {
	width: calc(100% - (#{$wrap-padding} * 2)); height: calc(100% - (#{$wrap-padding} * 2) - 3px); overflow: auto; padding: $wrap-padding; border-top: 3px solid $sidebar-clr2;
	.statistic-container {
		width: calc(100% - (#{$stats-padding} * 2)); height: calc(100% - (#{$stats-padding} * 2)); margin: $stats-padding; position: relative;
		.statistic-card {
			width: 100%; height: 100%; overflow: hidden; &, &::before, &::after { border-radius: 3px; }
			&#widget-overview {
				&::before {
					background: transparent; /* For browsers that do not support gradients */
					background: -webkit-radial-gradient(circle at left, transparent, $overview-back); /* Safari */
					background: -o-radial-gradient(circle at left, transparent, $overview-back); /* Opera 11.6 to 12.0 */
					background: -moz-radial-gradient(circle at left, transparent, $overview-back); /* Firefox 3.6 to 15 */
					background: radial-gradient(circle at left, transparent, $overview-back); /* Standard syntax */
					content: " "; left: 0; right: 0; top: 0; bottom: 0; position: absolute; z-index: 1;
				}
				&::after {
					background-image: url('../../public/images/overview-background.jpg'); background-size: cover;
					content: " "; left: 0; right: 0; top: 0; bottom: 0; position: absolute; z-index: 0; opacity: .69;
				}
				#overview-container {
					color: white; z-index: 1; position: absolute; bottom: 60px; width: 100%;
					#overview-title { text-align: right; font-size: 65px; font-family: $signika; letter-spacing: -7px; margin-bottom: 25px; padding-right: 20px; }
					.row.need-margin { margin-bottom: 20px; }
					.overview-content {
						// text-align: center;
						// .overview-value { font-family: $signika; font-weight: bolder; font-size: 50px; line-height: 40px; }
						// .overview-label { font-family: $signika-neg; font-size: 20px; letter-spacing: -1px;  }
						font-family: $signika-neg; font-size: 20px; letter-spacing: -2px; text-align: center;
						span { font-family: $signika; font-size: 45px; line-height: 40px; font-weight: 100; letter-spacing: -4px; margin-right: 2px; }
					}
				}
				#overview-disclaimer { color: white; z-index: 1; position: absolute; bottom: 0px; left: 5px; letter-spacing: -0.5px; font-family: $signika-neg; font-size: 13px; }
			}


			&:not(#overview-container):not(#widget-male):not(#widget-female) {
				padding: 15px; width: calc(100% - 30px); height: calc(100% - 30px); position: relative;
				.sideview-title { font-family: $signika; font-weight: 100; font-size: 19px; letter-spacing: -1.25px; }
				.sideview-content { font-family: $signika-neg; font-size: 17px; width: 100%; height: calc(100% - 35px); overflow: auto; margin-top: 8px; @include clearfix(); &::-webkit-scrollbar { display: none; }}
			}

			&#widget-male { background: $male-color; }
			&#widget-female { background: $female-color; }
			&#widget-male, &#widget-female {
				color: white;
				.icon-container {
					width: 40%; height: 100%; text-align: center; position: relative;
					i { opacity: $fa-opacity; }
					i.fa-mars { font-size: 150px; position: absolute; bottom: -10px; left: 0px; }
					i.fa-venus { font-size: 150px; position: absolute; right: -10px; top: 0px; }
				}
				.value-container {
					width: 50%; height: 100%; padding: calc(25% - 40px) 5% 0px;
					.value-ceil { font-family: $signika; font-weight: bolder; font-size: 75px; line-height: 55px; }
					.value-floor { font-family: $signika-neg; font-size: 20px; letter-spacing: -2px; }
				}
			}

			&#widget-topscore { background: $tscore-back; .sideview-podium div[class^="podium"] { border-color: $tscore-back!important; .podium-number { color: $tscore-back; }}}
			&#widget-topcontributor { background: $tcont-back; .sideview-podium div[class^="podium"] { border-color: $tcont-back!important; .podium-number { color: $tcont-back; }}}
			&#widget-topvillage { background: $tvill-back; }
			&#widget-notmyprovince { background: $nmprov-back; }
			&#widget-topscore, &#widget-topcontributor, &#widget-topvillage, &#widget-notmyprovince {
				color: white;

				.sideview-podium-container {
					width: 100%; height: 100%; position: relative;
					.sideview-podium {
						width: 100%; height: 100%; display: flex;
						& > div[class^="podium"] {
							border: 0.5px solid; width: calc((100% / 3) - 1px); position: relative; background: white; border-radius: 5px 5px 0px 5px;
							.podium-number { width: 30px; height: 30px; margin: 10px auto 0px; text-align: center; line-height: 30px; border-radius: 50%; font-size: 16px; }
						}
						.podium-1 { height: 60%; top: 30%; }
						.podium-2 { height: 40%; top: 50%; }
						.podium-3 { height: 20%; top: 70%; }
					}
					.sideview-achiever {
						width: 100%; display: flex; position: absolute; top: 0px;
						.achiever-1, .achiever-2, .achiever-3 {
							width: calc((100% / 3) - 1px); text-align: center;
							.achiever-ceil { font-size: 17px; line-height: 10px; overflow: visible; letter-spacing: -2px; }
							.achiever-floor { font-size: 14px; opacity: $fa-opacity; letter-spacing: -1.5px; }
						}
						.achiever-1 { padding-top: 17%; }
						.achiever-2 { padding-top: 35%; }
						.achiever-3 { padding-top: 52%; }
					}
				}
				.sideview-rest-container {
					width: 100%;
					.sideview-rest {
						width: 100%; @include clearfix(); & > div { float: left; }
						.sideview-rest-number { width: 7.5%; }
						.sideview-rest-name { @include ellipsis(60%); }
						.sideview-rest-points { width: 32.5% }
					}
				}
				.sideview-village-container {
					position: relative; padding: 10px; background: white; color: $tvill-back; border-radius: 0px 20px 20px 0px; letter-spacing: -1.5px; @include ellipsis();
					&:not(:last-child) { margin-bottom: 10px; }
					.sideview-village-number { position: absolute; right: 15px; top: 10px; letter-spacing: -2px; }
					// .md-tooltip { position: fixed; }
				}
				.sideview-notmyprovince { display: inline-block; float: left; letter-spacing: -1.5px; border: 0.5px solid; padding: 5px 10px; margin: 2.5px; border-radius: 10px; font-size: 15px; }
			}
			&#widget-designation { background: $desig-back; }
			&#widget-education { background: $educ-back; }
			&#widget-institution { background: $inst-back; }

			&#widget-age { background: $age-back; }

			&#widget-hardestquestion { background: $hardq-back; }
			&#widget-easiestquestion { background: $easyq-back; }
			&#widget-hardestquestion, &#widget-easiestquestion {
				color: white; .sideview-content { letter-spacing: -0.5px!important; }
			}

			&#widget-hardestcategory { background: $hardcat-back; }
			&#widget-easiestcategory { background: $easycat-back; }
			&#widget-hardestcategory, &#widget-easiestcategory {
				color: white; text-align: center; .sideview-content { letter-spacing: -0.5px!important; padding-top: 20%; }
			}

			&#widget-averagetime {
				background: $average-back; color: white; text-align: center;
				.sideview-content {
					letter-spacing: -0.5px!important; padding-top: 15%;
					span { font-family: $signika; font-size: 50px; line-height: 30px; display: block; }
				}
			}
		}
	}
}
