#user-wrapper {
	width: 100%; height: 100%;
	#user-content {
		#user-content-wrapper {
			width: 100%;
			.user-card {
				width: calc(100% - 15px); height: 70px;  overflow: hidden; margin: 0px auto; letter-spacing: -1px; @include clearfix(); @include cardDefault();
				& > div { display: inline-block; float: left; }
				& > div:not(.user-gender) { margin-top: 15px; padding: 0px 1%; }
				.user-gender { height: 100%; width: 1%; &.male { background: $male-color } &.female { background: $female-color; } }
				.user-name { width: 13%; }
				.user-email { width: 13%; }
				.user-designation { width: 8%; }
				.user-institution { width: 8%; }
				.user-village { width: 12%; }
				.user-age { width: 4%; }
				.user-score { width: 10%; }
				.user-contribution { width: 8%; }
				.user-actions {
					width: 5%; text-align: center; margin: 0px!important;
					.user-value { position: relative; top: -5px; }
					i {
						margin: 0px 4px; line-height: 70px;
						&.fa-envelope-open { color: gray; font-size: 16px; }
						&.fa-times { color: firebrick; font-size: 23px; position: relative; top: 2px; }
					}
				}

				&:hover { width: 100%; }
				&:not(:last-child) { margin-bottom: 20px; }
			}
		}
	}
}
